* {
    color: white;
}

body {
    background-color: black;
    font-family: serif;
}

.contenedor {
    display: flex;
    justify-content: center;
}

.bienvenida {
    width: 25vw;
    padding: 1vw;
    border-right: solid white;
}

.mipresentacion {
    display: flex;
    align-items: center;
    width: 85vw;
    margin:1vw;    
}

#home {
    text-decoration: none;
    font-size: 3vw;
}
#aboutme, #descripcionPersonal{
    text-decoration: none;
    font-size: 1.5vw;
}

#perfil {
    width: 10vw;
    border-radius: 25%;
    margin-right: 1vw;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5.2vw;
}

.box1 {
    width: 45vw;
    background-image: url('programacion.jpg');
    background-size: cover;
    border-radius: 10%;
    margin: 0.5vw;
    padding: 0.5vw;
}

.box2 {
    width:45vw;
    background-image: url('science.jpg');
    background-size: cover;
    border-radius: 10%;
    margin: 0.5vw;
    padding: 0.5vw;
}

.dw {
    border-radius: 2vw;;
    padding: 1.5vw 1vw 0.5vw 1vw;
    text-decoration: none;
    box-shadow: 0.5vw 0.5vw 0.5vw #f2e315;
}

.sc {
    border-top: 0.17vw;
    border-color: black;
    border-radius: 2vw;
    padding: 1.5vw 1vw 0.5vw 1vw;
    text-decoration: none;
    box-shadow: 0.5vw 0.5vw 0.5vw rgb(6, 65, 192);
}

ul.listado {
    list-style: none;
    padding:1vw;
    background-color: rgba(0, 0, 0, 0.607);
    text-align: center;
    margin-top: 2.6vw;
    margin-bottom: 5vw;
    margin-right: 4.16vw;
    margin-left: 4.16vw;
}

.encabezado {
    margin-top: 0vw;
    font-size:2vw;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    border-radius: 100%;
}
strong {
    font-size:1.7vw;
}


#contactar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25rem;
    margin-right: 25rem;
    padding-bottom: 10px;
    color:black
}

.sociales {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 20px;
    left: 0;
    right: 0;
    padding: 50px;
}

#separador {
    position: relative;
    margin-top: 50px;
    margin-bottom: 0px;
}

.iconos {
    background-color: white;
    border-radius: 30%;
    width: 25px;
    height: 25px;
    padding: 4px;
    margin: 0 5px;
    margin-top: 0;
}
.skill {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1.5vw; 
    color: white;
    padding-top: 1vw; 
    font-size: 1.5vw;
}

ul.project li {
    margin-bottom: 1vw; 
    margin-left: 1vw; 
    font-size: 1.5vw;
}
